<a href="https://colab.research.google.com/github/BOSOEK/Kaggle/blob/main/COVID19%20Global%20Forecasting/%20Latest%20commitCOVID19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 코로나 바이러스 예측하기 4주차
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
train = pd.read_csv('./train.csv')

### 데이터
* id : NO 필요
* Province_State : 
* Country_Region : 
* Date : 
* ConfirmedCases
* Fatalities :

In [ ]:
train

          Id Province_State  ... ConfirmedCases Fatalities
0          1            NaN  ...            0.0        0.0
1          2            NaN  ...            0.0        0.0
2          3            NaN  ...            0.0        0.0
3          4            NaN  ...            0.0        0.0
4          5            NaN  ...            0.0        0.0
...      ...            ...  ...            ...        ...
35990  35991            NaN  ...           36.0        4.0
35991  35992            NaN  ...           36.0        4.0
35992  35993            NaN  ...           37.0        4.0
35993  35994            NaN  ...           37.0        4.0
35994  35995            NaN  ...           42.0        4.0

[35995 rows x 6 columns]

In [ ]:
# 필요없는 id 열 삭제
train = train.drop(['Id'], axis=1)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35995 entries, 0 to 35994
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province_State  15295 non-null  object
 1   Country_Region  35995 non-null  object
 2   Date            35995 non-null  object
 3   ConfirmedCases  35995 non-null  float64
 4   Fatalities      35995 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.4+ MB

Province_State가 거의 절반 이상 비어있는 값이다....